<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/Arsha.css">

  <title>Hello, world!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <!-- ------------------header----------------------- -->
  <nav class="navbar navbar-expand-lg navbar-light  hh " id>
    <div class="container-fluid  ">
      <a class="navbar-brand ms-5 text-white fs-2" href="#">Arsha</a>
      <button class="navbar-toggler baar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="fa-solid fa-bars-progress "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item hd">
            <a class="nav-link active text-white hrader" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link gx-5 text-white hrader" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hrader" href="#service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hrader" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hrader " href="#team">Team</a>
          </li>


          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-white" href="#">Action</a></li>
              <li><a class="dropdown-item text-white" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-white" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn mx-5 bb text-white" type="submit">Get Started</button>
        </form>
      </div>
    </div>
  </nav>
<!-- -------------------------hero section-------------- -->

  <div class="container-fluid hero" style="background-color: #37517e;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h1 class="text-white ">Better Solutions For Your Business</h1>
          <p class="text-white">We are team of talented designers making websites with Bootstrap</p>
          <div class="py-5">
            <button class="bb1">Get Started</button>
            <button class="bb2"><i class="fa fa-play-circle" aria-hidden="true"></i>Watch Video</button>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid animated" src="/images/hero-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  
<!-- --------------client------------------- -->
  <div class="conatiner-fluid main-client">
    <div class="container clients">
      <div class="row d-flex align-items-center justify-content-center " data-aos="zoom-in" data-aos-duration="2000">
        <div class="col-md-2">
          <img class="img-fluid client" src="/images/client-1.png" alt="">
        </div>
        <div class="col-md-2">
          <img class="img-fluid client" src="/images/client-2.png" alt="">
        </div>
        <div class="col-md-2">
          <img class="img-fluid client" src="/images/client-3.png" alt="">
        </div>
        <div class="col-md-2">
          <img class="img-fluid client" src="/images/client-4.png" alt="">
        </div>
        <div class="col-md-2">
          <img class="img-fluid client" src="/images/client-5.png" alt="">
        </div>
        <div class="col-md-2">
          <img class="img-fluid client" src="/images/client-6.png" alt="">
        </div>

      </div>
    </div>
  </div>
<!-- ------------------------Aboutus------------------- -->
  <div class="container-fluid about py-5">
    <div class="container">
      <div class="row  pt-3 pp">
        <h3 class="text-center" id="about">ABOUT US</h3>
        <div class="col-md-6 pt-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <ul class="list">
            <li class="py-1"> <i class="fa-solid fa-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo
              consequat</li>
            <li class="py-1"><i class="fa-solid fa-check-double"></i>Duis aute irure dolor in reprehenderit in voluptate
              velit</li>
            <li class="py-1"><i class="fa-solid fa-check-double"></i>Ullamco laboris nisi ut aliquip ex ea commodo
              consequat</li>
          </ul>
        </div>
        <div class="col-md-6 pt-4">
          <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="bb3">Learn More</button>
        </div>
      </div>
    </div>
  </div>
<!-- ----------------------question-------------------- -->
  <div class="container-fluid  main-client " data-aos="fade-up">
    <div class="container py-5 ">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-stretch">
          <h3 style="color: #37517e; font-weight: 200;">Eum ipsam laborum deleniti <strong
              style="font-weight: 700;">velit pariatur architecto aut nihil</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <span style="color: #47b2e4; font-weight: 700; font-size: 18px; " class="me-2">01</span>
                  Non consectetur a erat nam at lectus urna duis?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
                  laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus
                  non.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <span style="color: #47b2e4; font-weight: 700; font-size: 18px; " class="me-2">02</span>
                  Feugiat scelerisque varius morbi enim nunc?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                  interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec
                  pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                  tincidunt dui.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <span style="color: #47b2e4; font-weight: 700; font-size: 18px; " class="me-2">03</span>
                  Dolor sit amet consectetur adipiscing elit?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
                  Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum
                  tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                  elementum eu facilisis sed odio morbi quis</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 justify-content-center">
          <img class="img-fluid" src="/images/why-us.png" alt="">
        </div>
      </div>
    </div>
  </div>

<!-- ----------------------skill------------------- -->

  <div class="container-fluid py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center " data-aos="fade-up-right" data-aos-duration="1000">
          <img class="img-fluid " src="/images/skills.png" alt="">
        </div>
        <div class="col-md-6 pt-5" data-aos="fade-up-left" data-aos-duration="1000">
          <h3 style="color: #37517e; font-weight: 700; font-size: 2.5rem;">Voluptatem dignissimos provident quasi
            corporis voluptates</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>

          <div class="skills">
            <div class="progress">
              <span class="skill">
                HTML
                <i class="val">100%</i>
              </span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" value="100" max="100" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">
                CSS
                <i class="val">90%</i>
              </span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" value="100" max="100" style="width: 90%;">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">
                JAVASCRIPT
                <i class="val">75%</i>
              </span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" value="100" max="100" style="width: 75%;">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">
                PHOTOSHOP
                <i class="val">55%</i>
              </span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" value="100" max="100" style="width: 55%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- -------------------service------------------------ -->
  <div class="container-fluid service py-5" data-aos="fade-up" id="service">
    <div class="container">
      <div class="title">
        <h2>SERVICES</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row gap-3 py-5">
        <div class="col  d-flex align-items-stretch bg-white service-title  aos-init aos-animate" data-aos="zoom-in"
          data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              <i class="fa-solid fa-basketball"></i>
            </div>
            <h4>Lorem Ipsum</h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>
        <div class="col  d-flex align-items-stretch bg-white service-title" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon">
              <i class="fa-solid fa-file"></i>
            </div>
            <h4>Sed ut perspici</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
        <div class="col d-flex align-items-stretch bg-white service-title" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <i class="fa-solid fa-gauge-high"></i>
            </div>
            <h4>Magni Dolores</h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
        <div class="col d-flex align-items-stretch bg-white service-title" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon">
              <i class="fa-solid fa-layer-group"></i>
            </div>
            <h4>Nemo Enim</h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>


      </div>
    </div>
  </div>
<!-- -----------------------------call to action ------------- -->
  <section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-md-9 text-center text-lg-start text-white">
          <h3>Call To Action</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <button class="cta-btn">Call To Action</button>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid py-5" id="portfolio">
    <div class="container">
      <div class="title">
        <h2>PORTFOLIO</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <ul class="portfolio-item  py-4">
        <li>All</li>
        <li>App</li>
        <li>Card</li>
        <li>Web</li>
      </ul>
      <div class=" row img  py-5 portfolio-images ">
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-1.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>

        </div>
        <div class="col-md-4  portfolio-it filter-web">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-2.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-3.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-4.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-5.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-6.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-7.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-8.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 portfolio-it">
          <div class="portfolio-img">
            <img class="img-fluid" src="/images/portfolio-9.jpg" alt="">
          </div>
          <div class="portfolio-info d-flex justify-content-between align-items-center">
            <div class="portfolio-app gap-0 ">
              <h3>App 1</h3>
              <p>App</p>
            </div>
            <div class="portfolio-icon">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-link ps-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ------------------------------Team---------------------- -->
  <div class="conatiner-fluid profile py-5" id="team">
    <div class="container">
      <div class="title">
        <h2>TEAM</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row  ">
        <div class="col-md-6   ">
          <div class="card mb-3 profile-mamber" style="max-width: 540px;">
            <div class="row g-0 justify-content-center align-items-center">
              <div class="col-md-4 pic ">
                <img src="/images/team-1 (1).jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color: #4668a2;">Walter White</h5>
                  <p class="card-text">Chief Executive Officer.</p>
                  <p class="card-text">Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                  <div class="social">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3 profile-mamber" style="max-width: 540px;">
            <div class="row g-0 justify-content-center align-items-center">
              <div class="col-md-4 pic ">
                <img src="/images/team-2.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color: #4668a2;">Sarah Jhonson</h5>
                  <p class="card-text">Product Manager</p>
                  <p class="card-text">Aut maiores voluptates amet et quis praesentium qui senda para</p>
                  <div class="social">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row  ">
        <div class="col-md-6  ">
          <div class="card mb-3 profile-mamber" style="max-width: 540px;">
            <div class="row g-0 justify-content-center align-items-center">
              <div class="col-md-4 pic ">
                <img src="/images/team-3.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color: #4668a2;">William Anderson</h5>
                  <p class="card-text">CTO</p>
                  <p class="card-text">Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                  <div class="social">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="card mb-3 profile-mamber" style="max-width: 540px;">
            <div class="row g-0 justify-content-center align-items-center">
              <div class="col-md-4 pic ">
                <img src="/images/team-4.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="color: #4668a2;">Amanda Jepson</h5>
                  <p class="card-text">Accountant</p>
                  <p class="card-text">Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                  <div class="social">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!-- -----------------pricing----------------- -->

  <div class="container-fluid pricing ">
    <div class="container py-5">
      <div class="title">
        <h2>PRICING </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row arsha-pricing">
        <div class="col-md-4 py-2">
          <div class="card" style="width: 20rem;">
            <div class="card-body pricing-body">
              <h5 class="card-title">Free Plan</h5>
              <h4><sup>$</sup>0</h4>
              <span style="color: #47b2e4;">per month</span>
            </div>
            <ul class="nec">
              <li> <i class="fa-solid fa-check"></i>Quam adipiscing vitae proin</li>
              <li class="pt-1 "> <i class="fa-solid fa-check"></i>Nec feugiat nisl pretium</li>
              <li class="pt-1"> <i class="fa-solid fa-check"></i>Nulla at volutpat diam uteera</li>
              <li class="pt-1 na "> <i class="fa-solid fa-xmark na"></i><del class="na">Pharetra massa massa
                  ultricies</del></li>
              <li class="pt-1 na"> <i class="fa-solid fa-xmark na"></i> <del class="na">Massa ultricies mi quis
                  hendrerit</del></li>
            </ul>
            <div class="card-body py-5 ">
              <a href="#" class="card-link pricing-btn">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-2">
          <div class="card" style="width: 20rem;">
            <div class="card-body pricing-body">
              <h5 class="card-title">Business Plan</h5>
              <h4><sup>$</sup>29</h4>
              <span style="color: #47b2e4;">per month</span>
            </div>
            <ul class="nec">
              <li> <i class="fa-solid fa-check"></i>Quam adipiscing vitae proin</li>
              <li class="pt-1 "> <i class="fa-solid fa-check"></i>Nec feugiat nisl pretium</li>
              <li class="pt-1"> <i class="fa-solid fa-check"></i>Nulla at volutpat diam uteera</li>
              <li class="pt-1  "> <i class="fa-solid fa-check"></i>Pharetra massa massa ultricies</li>
              <li class="pt-1 "> <i class="fa-solid fa-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <div class="card-body py-5 ">
              <a href="#" class="card-link pricing-btn" style="color: #fff; background-color: #47b2e4;">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-2">
          <div class="card" style="width: 20rem;">
            <div class="card-body pricing-body">
              <h5 class="card-title">Developer Plan</h5>
              <h4><sup>$</sup>49</h4>
              <span style="color: #47b2e4;">per month</span>
            </div>
            <ul class="nec">
              <li> <i class="fa-solid fa-check"></i>Quam adipiscing vitae proin</li>
              <li class="pt-1 "> <i class="fa-solid fa-check"></i>Nec feugiat nisl pretium</li>
              <li class="pt-1"> <i class="fa-solid fa-check"></i>Nulla at volutpat diam uteera</li>
              <li class="pt-1 "> <i class="fa-solid fa-check"></i>Pharetra massa massa ultricies</li>
              <li class="pt-1 "> <i class="fa-solid fa-check"></i>Massa ultricies mi quis hendrerit</li>
            </ul>
            <div class="card-body py-5">
              <a href="#" class="card-link pricing-btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>



 <!-- -------------------- frequently asked question-------------- -->
  <div class="container-fluid ques ">
    <div class="container py-5">
      <div class="title">
        <h2>FREQUENTLY ASKED QUESTIONS </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row">
        <div class="col-md-12 ms-2 py-5">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fa-regular fa-circle-question "></i>
                  Non consectetur a erat nam at lectus urna duis?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                    curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsesecond" aria-expanded="true" aria-controls="collapsesecond">
                  <i class="fa-regular fa-circle-question "></i>
                  Feugiat scelerisque varius morbi enim nunc?
                </button>
              </h2>
              <div id="collapsesecond" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                    laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                    pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsethird" aria-expanded="true" aria-controls="collapsethird">
                  <i class="fa-regular fa-circle-question "></i>
                  Dolor sit amet consectetur adipiscing elit?
                </button>
              </h2>
              <div id="collapsethird" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                    elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
                    eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis
                    sed odio morbi quis</p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                  <i class="fa-regular fa-circle-question "></i>
                  Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                </button>
              </h2>
              <div id="collapsefour" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in.
                    Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
                    Purus gravida quis blandit turpis cursus in.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefifth" aria-expanded="true" aria-controls="collapsefifthe">
                  <i class="fa-regular fa-circle-question  "></i>
                  Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor?
                </button>
              </h2>
              <div id="collapsefifth" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                    malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed.
                    Ut venenatis tellus in metus vulputate eu scelerisque.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<!-- -------------contact--------------------------- -->
  <div class="container-fluid contect" id="contact">
    <div class="container py-5">
      <div class="title">
        <h2>CONTACT </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row ms-5 py-5 contact-col gap-3">
        <div class="col-md-5 contect-info">
          <div class="info py-5">
            <div class="address">
              <i class="fa-solid fa-location-dot me-4"></i>
              <div>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>
            <div class="email">
              <i class="fa-solid fa-envelope me-4"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>
            <div class="phone">
              <i class="fa-solid fa-phone me-4"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>
            <div class="google-map ">
              <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1781619.1120631157!2d76.0389249!3d29.2904069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1694176919945!5m2!1sen!2sin"
                width="420" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-5  contect-info2 py-5 ">
          <form action="">
            <div class="form">
              <div class="form-name">
                <label for="Name">Your Name</label> <br>
                <input type="text" name="" id="" placeholder="Name *">
              </div>
              <div class="form-email">
                <label for="Email">Your Email</label> <br>
                <input type="email" name="" id="" placeholder="Email *">
              </div>

            </div>
            <div class="sub pt-4 ms-2">
              <label for="">Subject</label> <br>
              <input type="text" name="" id="" class="form-contact" placeholder="Subject *">
            </div>
            <div class="message pt-4 ms-2">
              <label for="" class="your">Your Message</label>
              <textarea name="" id="" rows="6" placeholder="Your Message *" class="form-contact "></textarea>
            </div>
            <div class="work-btn pt-3 text-center">
              <button class="btn-col switch-col con">Send Message</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

<!-- ------------------newslatter------------------- -->
  <div class="container-fluid ques py-5">
    <div class="container">
      <div class="title">
        <h2>Join Our Newsletter </h2>
        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
        <div class="Subscribe">
          <input type="text">
          <button class="sub-btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>

<!-- --------------arsha---------------------footer -->
  <div class="container-fluid footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Arsha</h3>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>
        <div class="col-md-3 footer-link">
          <h4>Useful Links</h4>
          <ul class="footer-link-child">
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-link">
          <h4>Our Services</h4>
          <ul class="footer-link-child">
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="fa-solid fa-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Our Social Networks</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa-brands fa-skype"></i></a>
            <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ---------------------last footer-------------------- -->
  <div class="container-fluid last-footer">
    <div class="container d-flex justify-content-between py-4">
      <div class="copyright">
        <p>© Copyright <strong>Arsha</strong>. All Rights ReservedDesigned by BootstrapMade</p>
      </div>
      <div class="credits d-flex">
        <p>Designed by</p>
        <a href="https://getbootstrap.com/">Bootstrap</a>
      </div>
    </div>
  </div>







  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>